<body>
    <h1>Welcome to Workout Tracker!</h1>
    <p>You can use Workout Tracker to:</p>
    <ol>
        <li>Record how minutes of exercise you did today for your chosen exercises</li>
        <li>Measure your exercise time so far this week against your weekly targets</li>
        <li>Set new weekly targets</li>
        <li>Track how many minutes of each exercise you did over the last four weeks</li>
    </ol>
    <p>Simply enter your name and select a menu option to begin!</p>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>
